<ion-view view-title="Contatos">
  <ion-content>
  </div>
  <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div>
  <div class="list">

    <a class="item item-avatar-left" href="#" >
      <img src="img/adam.jpg">
      <button class="button button-balanced">
      <i class="ion-android-call"></i>
      </button>
      <h2>Bruno</h2>
      <p>+55 51 987654321</p>
      
      
    


    <a class="item item-icon-right" href="#">
     <a class="item item-avatar" href="#" ><img src="img/ben.png">
    <h2>Bruno</h2> 
    <p>+55 51 987654321 <button class="button button-balanced ion-android-call"></button> </p>
  
  </a>

  </ion-content>
</ion-view>
